# Estadistica descriptiva

In [1]:
import pandas as pd
import numpy as np

In [2]:
def f_leer_archivo(path,sheet):
    return pd.read_excel(path,sheet)

In [3]:
mtf=f_leer_archivo('MyST_LAB2_FMHL.xlsx','Historico MT5')
mtf.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.20 00:18:34,77992308,USDCAD,sell,0.50,1.32475,1.32800,1.30163,2022.09.20 11:10:52,1.32801,0,0,-122.74
1,2022.09.20 00:24:01,78324107,EURUSD,buy,1.00,1.00267,0.98440,1.00000,2022.09.21 21:00:39,0.98424,0,0,-1843.00
2,2022.09.20 00:36:05,78324193,EURGBP,sell,0.05,0.87667,0.87800,0.87284,2022.09.20 03:54:23,0.87800,0,0,-75.98
3,2022.09.20 00:45:13,78324236,GBPUSD,sell,10.00,1.14319,1.14419,1.14263,2022.09.20 00:45:34,1.14367,0,0,-480.00
4,2022.09.20 00:45:13,78324238,GBPUSD,sell,1.00,1.14319,1.14419,1.14263,2022.09.20 01:02:01,1.14375,0,0,-56.00

In [4]:
mtm=f_leer_archivo('MyST_LAB2_MMM.xlsx','Historico MT5')
mtm.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.16 22:34:55,78275561,USDJPY,buy,0.05,142.89600,0.0,0.0,2022.09.16 23:21:32,143.35300,0,0.78,15.94
1,2022.09.16 22:35:35,78275589,USDCHF,buy,0.05,0.96498,0.0,0.0,2022.09.16 23:21:11,0.96553,0,0.73,2.85
2,2022.09.16 22:37:17,78275605,USDCNH,buy,2.50,7.00734,0.0,0.0,2022.09.16 23:21:41,7.00551,0,-43.31,-65.31
3,2022.09.16 22:37:51,78275606,USDMXN,buy,5.00,20.04758,0.0,0.0,2022.09.16 23:21:29,19.94732,0,-424.28,-2513.12
4,2022.09.16 22:40:14,78275656,USDJPY,buy,5.00,142.87800,0.0,0.0,2022.09.16 23:21:21,143.34700,0,78.31,1635.89

In [5]:
mtp=f_leer_archivo('MyST_LAB2_PHMC.xlsx','Historico MT5')
mtp.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.19 16:30:36,78305442,EURUSD,buy,0.10,0.99771,0.99674,0.99874,2022.09.19 16:42:01,0.99874,0,0,10.30
1,2022.09.19 16:34:48,78306103,USDJPY,sell,0.10,143.47000,143.57000,143.27000,2022.09.19 17:04:24,143.57300,0,0,-7.17
2,2022.09.19 16:35:52,78306270,GBPUSD,buy,0.02,1.13738,1.13638,1.13838,2022.09.19 16:45:16,1.13838,0,0,2.00
3,2022.09.19 16:43:55,78307115,USDCAD,sell,0.10,1.33184,1.33282,1.33082,2022.09.19 16:51:14,1.33082,0,0,7.66
4,2022.09.19 16:49:53,78307555,EURGBP,buy,1.00,0.87708,0.87618,0.87748,2022.09.19 17:13:26,0.87748,0,0,45.54

In [6]:
mta=f_leer_archivo('MyST_LAB2_ARG.xlsx','Historico MT5')
mta.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.23 16:32:46,59857446,GBPUSD,buy,1.0,1.10513,1.090,1.13000,2022.09.23 17:50:29,1.08997,0,0.0,-1516.00
1,2022.09.23 16:41:46,59858832,EURGBP,sell,1.0,0.88339,0.884,0.88333,2022.09.23 16:45:00,0.88427,0,0.0,-97.01
2,2022.09.23 16:44:57,59859571,AUDUSD,buy,1.0,0.65791,NaN,0.65900,2022.09.23 22:04:35,0.65210,0,0.0,-581.00
3,2022.09.23 19:58:20,59889048,EURGBP,sell,1.0,0.89096,NaN,0.89060,2022.09.23 19:59:57,0.89094,0,0.0,2.18
4,2022.09.23 20:00:45,59889299,GBPUSD,buy,1.0,1.08969,NaN,NaN,2022.09.23 20:01:06,1.08985,0,0.0,16.00

In [7]:
def f_columnas_tiempos(data):
    for i in range(len(data)):
        data.iloc[i,0]=pd.to_datetime(data.iloc[i,0])
        data.iloc[i,8]=pd.to_datetime(data.iloc[i,8])
        data.loc[i,'Time_change']=data.iloc[i,8]-data.iloc[i,0]
    return data

In [8]:
f_columnas_tiempos(mtf).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022-09-20 00:18:34,77992308,USDCAD,sell,0.50,1.32475,1.32800,1.30163,2022-09-20 11:10:52,1.32801,0,0,-122.74,0 days 10:52:18
1,2022-09-20 00:24:01,78324107,EURUSD,buy,1.00,1.00267,0.98440,1.00000,2022-09-21 21:00:39,0.98424,0,0,-1843.00,1 days 20:36:38
2,2022-09-20 00:36:05,78324193,EURGBP,sell,0.05,0.87667,0.87800,0.87284,2022-09-20 03:54:23,0.87800,0,0,-75.98,0 days 03:18:18
3,2022-09-20 00:45:13,78324236,GBPUSD,sell,10.00,1.14319,1.14419,1.14263,2022-09-20 00:45:34,1.14367,0,0,-480.00,0 days 00:00:21
4,2022-09-20 00:45:13,78324238,GBPUSD,sell,1.00,1.14319,1.14419,1.14263,2022-09-20 01:02:01,1.14375,0,0,-56.00,0 days 00:16:48

In [9]:
f_columnas_tiempos(mtm).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022-09-16 22:34:55,78275561,USDJPY,buy,0.05,142.89600,0.0,0.0,2022-09-16 23:21:32,143.35300,0,0.78,15.94,0 days 00:46:37
1,2022-09-16 22:35:35,78275589,USDCHF,buy,0.05,0.96498,0.0,0.0,2022-09-16 23:21:11,0.96553,0,0.73,2.85,0 days 00:45:36
2,2022-09-16 22:37:17,78275605,USDCNH,buy,2.50,7.00734,0.0,0.0,2022-09-16 23:21:41,7.00551,0,-43.31,-65.31,0 days 00:44:24
3,2022-09-16 22:37:51,78275606,USDMXN,buy,5.00,20.04758,0.0,0.0,2022-09-16 23:21:29,19.94732,0,-424.28,-2513.12,0 days 00:43:38
4,2022-09-16 22:40:14,78275656,USDJPY,buy,5.00,142.87800,0.0,0.0,2022-09-16 23:21:21,143.34700,0,78.31,1635.89,0 days 00:41:07

In [10]:
f_columnas_tiempos(mtp).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022-09-19 16:30:36,78305442,EURUSD,buy,0.10,0.99771,0.99674,0.99874,2022-09-19 16:42:01,0.99874,0,0,10.30,0 days 00:11:25
1,2022-09-19 16:34:48,78306103,USDJPY,sell,0.10,143.47000,143.57000,143.27000,2022-09-19 17:04:24,143.57300,0,0,-7.17,0 days 00:29:36
2,2022-09-19 16:35:52,78306270,GBPUSD,buy,0.02,1.13738,1.13638,1.13838,2022-09-19 16:45:16,1.13838,0,0,2.00,0 days 00:09:24
3,2022-09-19 16:43:55,78307115,USDCAD,sell,0.10,1.33184,1.33282,1.33082,2022-09-19 16:51:14,1.33082,0,0,7.66,0 days 00:07:19
4,2022-09-19 16:49:53,78307555,EURGBP,buy,1.00,0.87708,0.87618,0.87748,2022-09-19 17:13:26,0.87748,0,0,45.54,0 days 00:23:33

In [11]:
f_columnas_tiempos(mta).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022-09-23 16:32:46,59857446,GBPUSD,buy,1.0,1.10513,1.090,1.13000,2022-09-23 17:50:29,1.08997,0,0.0,-1516.00,0 days 01:17:43
1,2022-09-23 16:41:46,59858832,EURGBP,sell,1.0,0.88339,0.884,0.88333,2022-09-23 16:45:00,0.88427,0,0.0,-97.01,0 days 00:03:14
2,2022-09-23 16:44:57,59859571,AUDUSD,buy,1.0,0.65791,NaN,0.65900,2022-09-23 22:04:35,0.65210,0,0.0,-581.00,0 days 05:19:38
3,2022-09-23 19:58:20,59889048,EURGBP,sell,1.0,0.89096,NaN,0.89060,2022-09-23 19:59:57,0.89094,0,0.0,2.18,0 days 00:01:37
4,2022-09-23 20:00:45,59889299,GBPUSD,buy,1.0,1.08969,NaN,NaN,2022-09-23 20:01:06,1.08985,0,0.0,16.00,0 days 00:00:21

In [12]:
def f_pip_size(ticker):
    diccionario={'EURUSD':0.00001, 'GBPUSD':0.00001,'EURGBP':0.00001,'USDCAD':0.00001,'USDCHF':0.00001,
                 'GBPJPY':0.001,'USDJPY':0.001,'EURCAD':0.001,'USDCNH':0.00001,'GBPNZD':0.00001,'AUDUSD':0.00001,
                'USDMXN':0.00001,'CADCHF':0.00001,'CADJPY':0.001,'USDNOK':0.00001,'USDSGD':0.00001,'USDPLN':0.00001,
                'USDTRY':0.00001,'EURJPY':0.001,'EURMXN':0.00001,'NZDUSD':0.00001,'GBPCHF':0.00001,'AUDCHF':0.00001,
                'GBPAUD':0.00001}
    return (round(1/diccionario[ticker]))

In [13]:
def f_columnas_pips(data):
    pip = pd.DataFrame(0, index=range(len(data)),columns=['pips'])
    pip['instrument']=data['Symbol']
    for i in range(len(data)):
        if data.loc[i,'Type']=='sell':
            pip.loc[i,'pips']=(data.iloc[i,5]-data.iloc[i,9])*f_pip_size(pip.loc[i,'instrument'])
        else:
            pip.loc[i,'pips']=(data.iloc[i,9]-data.iloc[i,5])*f_pip_size(pip.loc[i,'instrument'])
    pip['pips_acm']=pip['pips'].cumsum()
    pip['profit_acm']=data['Profit'].astype(float).cumsum()
    return pip

In [14]:
f_columnas_pips(mtf).head()

     pips instrument  pips_acm  profit_acm
0  -326.0     USDCAD    -326.0     -122.74
1 -1843.0     EURUSD   -2169.0    -1965.74
2  -133.0     EURGBP   -2302.0    -2041.72
3   -48.0     GBPUSD   -2350.0    -2521.72
4   -56.0     GBPUSD   -2406.0    -2577.72

In [15]:
f_columnas_pips(mtm).head()

      pips instrument  pips_acm  profit_acm
0    457.0     USDJPY     457.0       15.94
1     55.0     USDCHF     512.0       18.79
2   -183.0     USDCNH     329.0      -46.52
3 -10026.0     USDMXN   -9697.0    -2559.64
4    469.0     USDJPY   -9228.0     -923.75

In [16]:
f_columnas_pips(mtp).head()

    pips instrument      pips_acm  profit_acm
0  103.0     EURUSD  1.030000e+02       10.30
1 -103.0     USDJPY -1.109868e-11        3.13
2  100.0     GBPUSD  1.000000e+02        5.13
3  102.0     USDCAD  2.020000e+02       12.79
4   40.0     EURGBP  2.420000e+02       58.33

In [17]:
f_columnas_pips(mta).head()

     pips instrument  pips_acm  profit_acm
0 -1516.0     GBPUSD   -1516.0    -1516.00
1   -88.0     EURGBP   -1604.0    -1613.01
2  -581.0     AUDUSD   -2185.0    -2194.01
3     2.0     EURGBP   -2183.0    -2191.83
4    16.0     GBPUSD   -2167.0    -2175.83

In [18]:
def f_estadisticas_ba(data,datapip,df):
    df_1=pd.DataFrame({'medida':['Ops totales','Ganadoras','Ganadoras_c','Ganadoras_v','Perdedoras','Perdedoras_c',
                             'Perdedoras_v','Mediana (profit)','Mediana (pips)','r_efectividad','r_proporcion',
                             'r_efectividad_c', 'r_efectividad_v'],
                   'valor':np.zeros(13),
                  'descripcion':['Operaciones totales','Operaciones ganadoras','Operaciones ganadoras de compra',
                                'Operaciones ganadoras de venta','Operaciones perdedoras','Operaciones perdedoras de compra',
                                'Operaciones perdedoras de venta','Mediana de profit de operaciones',
                                 'Mediana de pips de operaciones','Ganadoras totales/ Operaciones totales',
                                'Ganadoras totales/ Perdedoras totales','Ganadoras compras/ Operaciones totales',
                                 'Ganadoras ventas/ Operaciones totales']})
    df_1.iloc[0,1]=len(data)
    df_1.iloc[1,1]=len(data[data['Profit']>0])
    df_1.iloc[2,1]=len(data[(data['Profit']>0) & (data['Type']=='buy')])
    df_1.iloc[3,1]=len(data[(data['Profit']>0) & (data['Type']=='sell')])
    df_1.iloc[4,1]=len(data[data['Profit']<0])
    df_1.iloc[5,1]=len(data[(data['Profit']<0) & (data['Type']=='buy')])
    df_1.iloc[6,1]=len(data[(data['Profit']<0) & (data['Type']=='sell')])
    df_1.iloc[7,1]=data['Profit'].median()
    df_1.iloc[8,1]=datapip['pips'].median()
    df_1.iloc[9,1]=df_1.iloc[1,1]/df_1.iloc[0,1]
    df_1.iloc[10,1]=df_1.iloc[1,1]/df_1.iloc[5,1]
    df_1.iloc[11,1]=df_1.iloc[3,1]/df_1.iloc[1,1]
    df_1.iloc[10,1]=df_1.iloc[4,1]/df_1.iloc[1,1]
    df_1['valor']=round(df_1['valor'],2)
    
    uniques=data['Symbol'].unique()
    rank=[]
    for i in uniques:
        rank.append(round(len(data[(data['Profit']>0) & (data['Symbol']==i)])/len(data[data['Symbol']==i])*100,2))
    df_2_ranking=pd.DataFrame({'Symbol':uniques,'rank %':rank})
    
    diccionario={'tabla':df_1,'ranking':df_2_ranking}
    return diccionario[df]

In [19]:
f_estadisticas_ba(mtf,f_columnas_pips(mtf),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   23.0              Operaciones totales
1    Ganadoras   10.0            Operaciones ganadoras
2  Ganadoras_c    7.0  Operaciones ganadoras de compra
3  Ganadoras_v    3.0   Operaciones ganadoras de venta
4   Perdedoras   13.0           Operaciones perdedoras

In [20]:
f_estadisticas_ba(mtf,f_columnas_pips(mtf),'ranking').head()

   Symbol  rank %
0  USDCAD   50.00
1  EURUSD   66.67
2  EURGBP    0.00
3  GBPUSD   16.67
4  USDJPY  100.00

In [21]:
f_estadisticas_ba(mtm,f_columnas_pips(mtm),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   22.0              Operaciones totales
1    Ganadoras   11.0            Operaciones ganadoras
2  Ganadoras_c    9.0  Operaciones ganadoras de compra
3  Ganadoras_v    2.0   Operaciones ganadoras de venta
4   Perdedoras   11.0           Operaciones perdedoras

In [22]:
f_estadisticas_ba(mtm,f_columnas_pips(mtm),'ranking').head()

   Symbol  rank %
0  USDJPY    50.0
1  USDCHF    80.0
2  USDCNH     0.0
3  USDMXN     0.0
4  USDNOK    50.0

In [23]:
f_estadisticas_ba(mtp,f_columnas_pips(mtp),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   74.0              Operaciones totales
1    Ganadoras   41.0            Operaciones ganadoras
2  Ganadoras_c   29.0  Operaciones ganadoras de compra
3  Ganadoras_v   12.0   Operaciones ganadoras de venta
4   Perdedoras   33.0           Operaciones perdedoras

In [24]:
f_estadisticas_ba(mtp,f_columnas_pips(mtp),'ranking').head()

   Symbol  rank %
0  EURUSD   54.17
1  USDJPY   83.33
2  GBPUSD   57.14
3  USDCAD   60.00
4  EURGBP   41.67

In [25]:
f_estadisticas_ba(mta,f_columnas_pips(mta),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   47.0              Operaciones totales
1    Ganadoras   27.0            Operaciones ganadoras
2  Ganadoras_c   10.0  Operaciones ganadoras de compra
3  Ganadoras_v   17.0   Operaciones ganadoras de venta
4   Perdedoras   20.0           Operaciones perdedoras

In [26]:
f_estadisticas_ba(mta,f_columnas_pips(mta),'ranking').head()

   Symbol  rank %
0  GBPUSD   62.50
1  EURGBP   80.00
2  AUDUSD   42.86
3  EURUSD   50.00
4  GBPJPY  100.00

# Métricas de Atribución al Desempeño

'profit_acm_d': Es la columna de evolución de capital en la cuenta de trading, inicializala con $100,000 Usd y ve sumando (restando) las ganancias (perdidas) de la columna 'profit_acm'. Esta columna sería el valor de un título para tu fondo de inversión, o también la puedes pensar como la evolución del capital en tu cuenta de trading. Esta columna solo se utiliza para el DrawDown, tanto en capital como en Pips.


f_evolucion_capital:  Esta es una funcion cuya entrada es tu DataFrame del histórico de operaciones (utilizarás solo las columnas de timestamp y profit por transaccion), la salida de esta función es un DataFrame con 3 columnas:

- la primera columna se debe de nombrar 'timestamp' y contiene las fechas dia a dia durante el priodo que hiciste trading, (Como utilizarás históricos del lab2 entonces es todos los días de la semana, excepto el sábado).
- La segunda columna es 'profit_d' que es el profit por dia por cada dia de todos los contenidos en el periodo que hiciste trading (es posible que tengas dias con profit 0) y es el profit de todo el día (en caso de haber mas de 1 operación es la suma de todos los profits).
- La tercera columna de este DataFrame es 'profit_acm_d' que es el profit acumulado diario de tu cuenta de capital.  Particularmente, la columna 'profit_acm_d' representa el capital diario de tu cuenta de trading (aun y que en 1 dia hubieras hecho mas de una operacion o que en un dia no hagas ninguna operacion), este es profit_acm_d  es expresado en  capital (dinero)  y es una cifra numerica sin agregar simbolo de dinero, a esta cifra agrégale el capital inicial, en la cuenta del histórico de ejemplo es (100,000). Con esta columna estás obteniendo lo que sería el equivalente al valor diario de tu portafolio (en este caso de una estrategia de trading en lugar de varias acciones) y con este valor ya tendras una cifra distribuida diariamente que representa el valor de tu capital (o lo que sería equivalente al precio diario de una acción o de un etf).


Al mandar llamar la función f_evolucion_capital, cuya entrada es tu dataframe con el historico de operaciones, a la salida deberías de poder obtener un DataFrame como el siguiente (las cifras son de ejemplo):

In [28]:
k=100000
def f_evolucion_capital(data):
    dates=[]
    for i in range(len(data)):
        data.iloc[i,0]=data.iloc[i,0].strftime('%Y-%m-%d')
        dates.append(data.iloc[i,0])
    dates=list(set(dates))
    dates.sort()
    dateslist=pd.date_range(dates[0],dates[-1],freq='d').strftime('%Y-%m-%d')
    evcap=pd.DataFrame({'timestamp':dateslist})
    for i in range(len(dateslist)):
        evcap.loc[i,'profit_d']=data[data['Time']==dateslist[i]]['Profit'].sum()
    evcap.loc[0,'profit_acm_d']=k+evcap.loc[0,'profit_d']
    for i in range(len(dateslist)-1):
        evcap.loc[i+1,'profit_acm_d']=evcap.loc[i,'profit_acm_d']+evcap.loc[i+1,'profit_d']
    return evcap

In [29]:
f_evolucion_capital(mtf)

    timestamp  profit_d  profit_acm_d
0  2022-09-20  -2837.72      97162.28
1  2022-09-21      0.00      97162.28
2  2022-09-22     52.66      97214.94
3  2022-09-23 -91492.43       5722.51
4  2022-09-24      0.00       5722.51
5  2022-09-25      0.00       5722.51
6  2022-09-26   -247.75       5474.76

In [30]:
f_evolucion_capital(mtm)

    timestamp  profit_d  profit_acm_d
0  2022-09-16    374.51     100374.51
1  2022-09-17      0.00     100374.51
2  2022-09-18      0.00     100374.51
3  2022-09-19  -3445.76      96928.75
4  2022-09-20      0.00      96928.75
5  2022-09-21   6315.37     103244.12
6  2022-09-22     40.46     103284.58

In [31]:
f_evolucion_capital(mtp)

    timestamp  profit_d  profit_acm_d
0  2022-09-19   -161.18      99838.82
1  2022-09-20   -672.05      99166.77
2  2022-09-21  -7981.96      91184.81
3  2022-09-22   -224.13      90960.68
4  2022-09-23   1320.12      92280.80
5  2022-09-24      0.00      92280.80
6  2022-09-25      0.00      92280.80
7  2022-09-26  -5549.02      86731.78

In [32]:
f_evolucion_capital(mta)

    timestamp  profit_d  profit_acm_d
0  2022-09-23  -1697.71      98302.29
1  2022-09-24      0.00      98302.29
2  2022-09-25      0.00      98302.29
3  2022-09-26    -47.64      98254.65

Teniendo este DataFrame podrás calcular las Medidas de Atribución al Desempeño que te describo en el siguiente punto:

f_estadisticas_mad: Una función que regrese un DataFrame  con los resultados de cada MAD expresadas en términos diarios, en renglones,  'sharpe', 'drawdown_capi', 'drawup_capi'.
Nota: Utilizar de Benchmark precios diarios (cierre de precio ajustado) SP500. Se calculara el promedio

Calcular las siguientes Medidas de Atribución al Desempeño (MAD):

Sharpe Ratio Original:
rp: Promedio de los rendimientos logarítmicos de profit_acm_d
rf: 5%
sdp: Desviación estándar de todos los rendimientos con los que se calculó rp.
Sharpe Ratio Actualizado:
r_trader: Promedio de los rendimientos logarítmicos de profit_acm_d
r_benchmark: Promedio de los rendimientos logarítmicos de Benchmark
sdp: Desviación estándar de la resta de todos los rendimientos (r_trader - r_benchmark)
DrawDown (Capital):
Minusvalia máxima que se registró en la evolución de los valores (de 'profit_acm_d').
Obtener información de esta métrica como la siguiente:
"Fecha Inicial", "Fecha Final", "DrawDown $ (capital)".
DrawUp (Capital):
Plusvalía máxima que se registró en la evolución de los valores (de 'profit_acm_d').
Obtener información de esta métrica como la siguiente:
"Fecha Inicial", "Fecha Final", "DrawUp $ (capital)".