# Estadistica descriptiva

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import statistics as st
pd.options.mode.chained_assignment = None  # default='warn'
import yfinance as yf
from datetime import datetime, date, timedelta
import MetaTrader5 as mt5
import pytz

In [2]:
def f_leer_archivo(path,sheet):
    return pd.read_excel(path,sheet)

In [3]:
mtf=f_leer_archivo('MyST_LAB2_FMHL.xlsx','Historico MT5')
mtf.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.20 00:18:34,77992308,USDCAD,sell,0.50,1.32475,1.32800,1.30163,2022.09.20 11:10:52,1.32801,0,0,-122.74
1,2022.09.20 00:24:01,78324107,EURUSD,buy,1.00,1.00267,0.98440,1.00000,2022.09.21 21:00:39,0.98424,0,0,-1843.00
2,2022.09.20 00:36:05,78324193,EURGBP,sell,0.05,0.87667,0.87800,0.87284,2022.09.20 03:54:23,0.87800,0,0,-75.98
3,2022.09.20 00:45:13,78324236,GBPUSD,sell,10.00,1.14319,1.14419,1.14263,2022.09.20 00:45:34,1.14367,0,0,-480.00
4,2022.09.20 00:45:13,78324238,GBPUSD,sell,1.00,1.14319,1.14419,1.14263,2022.09.20 01:02:01,1.14375,0,0,-56.00

In [4]:
mtm=f_leer_archivo('MyST_LAB2_MMM.xlsx','Historico MT5')
mtm.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.16 22:34:55,78275561,USDJPY,buy,0.05,142.89600,0.0,0.0,2022.09.16 23:21:32,143.35300,0,0.78,15.94
1,2022.09.16 22:35:35,78275589,USDCHF,buy,0.05,0.96498,0.0,0.0,2022.09.16 23:21:11,0.96553,0,0.73,2.85
2,2022.09.16 22:37:17,78275605,USDCNH,buy,2.50,7.00734,0.0,0.0,2022.09.16 23:21:41,7.00551,0,-43.31,-65.31
3,2022.09.16 22:37:51,78275606,USDMXN,buy,5.00,20.04758,0.0,0.0,2022.09.16 23:21:29,19.94732,0,-424.28,-2513.12
4,2022.09.16 22:40:14,78275656,USDJPY,buy,5.00,142.87800,0.0,0.0,2022.09.16 23:21:21,143.34700,0,78.31,1635.89

In [5]:
mtp=f_leer_archivo('MyST_LAB2_PHMC.xlsx','Historico MT5')
mtp.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.19 16:30:36,78305442,EURUSD,buy,0.10,0.99771,0.99674,0.99874,2022.09.19 16:42:01,0.99874,0,0,10.30
1,2022.09.19 16:34:48,78306103,USDJPY,sell,0.10,143.47000,143.57000,143.27000,2022.09.19 17:04:24,143.57300,0,0,-7.17
2,2022.09.19 16:35:52,78306270,GBPUSD,buy,0.02,1.13738,1.13638,1.13838,2022.09.19 16:45:16,1.13838,0,0,2.00
3,2022.09.19 16:43:55,78307115,USDCAD,sell,0.10,1.33184,1.33282,1.33082,2022.09.19 16:51:14,1.33082,0,0,7.66
4,2022.09.19 16:49:53,78307555,EURGBP,buy,1.00,0.87708,0.87618,0.87748,2022.09.19 17:13:26,0.87748,0,0,45.54

In [6]:
mta=f_leer_archivo('MyST_LAB2_ARG.xlsx','Historico MT5')
mta.head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.09.23 16:32:46,59857446,GBPUSD,buy,1.0,1.10513,1.090,1.13000,2022.09.23 17:50:29,1.08997,0,0.0,-1516.00
1,2022.09.23 16:41:46,59858832,EURGBP,sell,1.0,0.88339,0.884,0.88333,2022.09.23 16:45:00,0.88427,0,0.0,-97.01
2,2022.09.23 16:44:57,59859571,AUDUSD,buy,1.0,0.65791,NaN,0.65900,2022.09.23 22:04:35,0.65210,0,0.0,-581.00
3,2022.09.23 19:58:20,59889048,EURGBP,sell,1.0,0.89096,NaN,0.89060,2022.09.23 19:59:57,0.89094,0,0.0,2.18
4,2022.09.23 20:00:45,59889299,GBPUSD,buy,1.0,1.08969,NaN,NaN,2022.09.23 20:01:06,1.08985,0,0.0,16.00

In [7]:
def f_columnas_tiempos(data):
    col1=pd.to_datetime(data.iloc[:,0])
    col2=pd.to_datetime(data.iloc[:,8])
    data['Time_change']=col2-col1 
    for i in range(len(data)):
        data['Time_change'][i] = data['Time_change'][i].total_seconds() 
    return data

In [8]:
f_columnas_tiempos(mtf).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022.09.20 00:18:34,77992308,USDCAD,sell,0.50,1.32475,1.32800,1.30163,2022.09.20 11:10:52,1.32801,0,0,-122.74,39138.0
1,2022.09.20 00:24:01,78324107,EURUSD,buy,1.00,1.00267,0.98440,1.00000,2022.09.21 21:00:39,0.98424,0,0,-1843.00,160598.0
2,2022.09.20 00:36:05,78324193,EURGBP,sell,0.05,0.87667,0.87800,0.87284,2022.09.20 03:54:23,0.87800,0,0,-75.98,11898.0
3,2022.09.20 00:45:13,78324236,GBPUSD,sell,10.00,1.14319,1.14419,1.14263,2022.09.20 00:45:34,1.14367,0,0,-480.00,21.0
4,2022.09.20 00:45:13,78324238,GBPUSD,sell,1.00,1.14319,1.14419,1.14263,2022.09.20 01:02:01,1.14375,0,0,-56.00,1008.0

In [9]:
f_columnas_tiempos(mtm).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022.09.16 22:34:55,78275561,USDJPY,buy,0.05,142.89600,0.0,0.0,2022.09.16 23:21:32,143.35300,0,0.78,15.94,2797.0
1,2022.09.16 22:35:35,78275589,USDCHF,buy,0.05,0.96498,0.0,0.0,2022.09.16 23:21:11,0.96553,0,0.73,2.85,2736.0
2,2022.09.16 22:37:17,78275605,USDCNH,buy,2.50,7.00734,0.0,0.0,2022.09.16 23:21:41,7.00551,0,-43.31,-65.31,2664.0
3,2022.09.16 22:37:51,78275606,USDMXN,buy,5.00,20.04758,0.0,0.0,2022.09.16 23:21:29,19.94732,0,-424.28,-2513.12,2618.0
4,2022.09.16 22:40:14,78275656,USDJPY,buy,5.00,142.87800,0.0,0.0,2022.09.16 23:21:21,143.34700,0,78.31,1635.89,2467.0

In [10]:
f_columnas_tiempos(mtp).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022.09.19 16:30:36,78305442,EURUSD,buy,0.10,0.99771,0.99674,0.99874,2022.09.19 16:42:01,0.99874,0,0,10.30,685.0
1,2022.09.19 16:34:48,78306103,USDJPY,sell,0.10,143.47000,143.57000,143.27000,2022.09.19 17:04:24,143.57300,0,0,-7.17,1776.0
2,2022.09.19 16:35:52,78306270,GBPUSD,buy,0.02,1.13738,1.13638,1.13838,2022.09.19 16:45:16,1.13838,0,0,2.00,564.0
3,2022.09.19 16:43:55,78307115,USDCAD,sell,0.10,1.33184,1.33282,1.33082,2022.09.19 16:51:14,1.33082,0,0,7.66,439.0
4,2022.09.19 16:49:53,78307555,EURGBP,buy,1.00,0.87708,0.87618,0.87748,2022.09.19 17:13:26,0.87748,0,0,45.54,1413.0

In [11]:
f_columnas_tiempos(mta).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change
0,2022.09.23 16:32:46,59857446,GBPUSD,buy,1.0,1.10513,1.090,1.13000,2022.09.23 17:50:29,1.08997,0,0.0,-1516.00,4663.0
1,2022.09.23 16:41:46,59858832,EURGBP,sell,1.0,0.88339,0.884,0.88333,2022.09.23 16:45:00,0.88427,0,0.0,-97.01,194.0
2,2022.09.23 16:44:57,59859571,AUDUSD,buy,1.0,0.65791,NaN,0.65900,2022.09.23 22:04:35,0.65210,0,0.0,-581.00,19178.0
3,2022.09.23 19:58:20,59889048,EURGBP,sell,1.0,0.89096,NaN,0.89060,2022.09.23 19:59:57,0.89094,0,0.0,2.18,97.0
4,2022.09.23 20:00:45,59889299,GBPUSD,buy,1.0,1.08969,NaN,NaN,2022.09.23 20:01:06,1.08985,0,0.0,16.00,21.0

In [12]:
def f_pip_size(ticker):
    size=pd.read_csv('instruments_pips.csv')
    pip=size[size['Instrument']==ticker]['TickSize']
    return (int(1/pip))
f_pip_size('EURUSD')

10000

In [13]:
def f_columnas_pips(data):
    for i in range(len(data)):
        if data.loc[i,'Type']=='sell':
            data.loc[i,'pips']=(data.iloc[i,5]-data.iloc[i,9])*f_pip_size(data.loc[i,'Symbol'])
        else:
            data.loc[i,'pips']=(data.iloc[i,9]-data.iloc[i,5])*f_pip_size(data.loc[i,'Symbol'])
    data['pips_acm']=data['pips'].cumsum()
    data['profit_acm']=data['Profit'].astype(float).cumsum()
    return data

In [14]:
f_columnas_pips(mtf).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change,pips,pips_acm,profit_acm
0,2022.09.20 00:18:34,77992308,USDCAD,sell,0.50,1.32475,1.32800,1.30163,2022.09.20 11:10:52,1.32801,0,0,-122.74,39138.0,-32.6,-32.6,-122.74
1,2022.09.20 00:24:01,78324107,EURUSD,buy,1.00,1.00267,0.98440,1.00000,2022.09.21 21:00:39,0.98424,0,0,-1843.00,160598.0,-184.3,-216.9,-1965.74
2,2022.09.20 00:36:05,78324193,EURGBP,sell,0.05,0.87667,0.87800,0.87284,2022.09.20 03:54:23,0.87800,0,0,-75.98,11898.0,-13.3,-230.2,-2041.72
3,2022.09.20 00:45:13,78324236,GBPUSD,sell,10.00,1.14319,1.14419,1.14263,2022.09.20 00:45:34,1.14367,0,0,-480.00,21.0,-4.8,-235.0,-2521.72
4,2022.09.20 00:45:13,78324238,GBPUSD,sell,1.00,1.14319,1.14419,1.14263,2022.09.20 01:02:01,1.14375,0,0,-56.00,1008.0,-5.6,-240.6,-2577.72

In [15]:
f_columnas_pips(mtm).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change,pips,pips_acm,profit_acm
0,2022.09.16 22:34:55,78275561,USDJPY,buy,0.05,142.89600,0.0,0.0,2022.09.16 23:21:32,143.35300,0,0.78,15.94,2797.0,45.7,45.7,15.94
1,2022.09.16 22:35:35,78275589,USDCHF,buy,0.05,0.96498,0.0,0.0,2022.09.16 23:21:11,0.96553,0,0.73,2.85,2736.0,5.5,51.2,18.79
2,2022.09.16 22:37:17,78275605,USDCNH,buy,2.50,7.00734,0.0,0.0,2022.09.16 23:21:41,7.00551,0,-43.31,-65.31,2664.0,-18.3,32.9,-46.52
3,2022.09.16 22:37:51,78275606,USDMXN,buy,5.00,20.04758,0.0,0.0,2022.09.16 23:21:29,19.94732,0,-424.28,-2513.12,2618.0,-1002.6,-969.7,-2559.64
4,2022.09.16 22:40:14,78275656,USDJPY,buy,5.00,142.87800,0.0,0.0,2022.09.16 23:21:21,143.34700,0,78.31,1635.89,2467.0,46.9,-922.8,-923.75

In [16]:
f_columnas_pips(mtp).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change,pips,pips_acm,profit_acm
0,2022.09.19 16:30:36,78305442,EURUSD,buy,0.10,0.99771,0.99674,0.99874,2022.09.19 16:42:01,0.99874,0,0,10.30,685.0,10.3,1.030000e+01,10.30
1,2022.09.19 16:34:48,78306103,USDJPY,sell,0.10,143.47000,143.57000,143.27000,2022.09.19 17:04:24,143.57300,0,0,-7.17,1776.0,-10.3,-1.110223e-12,3.13
2,2022.09.19 16:35:52,78306270,GBPUSD,buy,0.02,1.13738,1.13638,1.13838,2022.09.19 16:45:16,1.13838,0,0,2.00,564.0,10.0,1.000000e+01,5.13
3,2022.09.19 16:43:55,78307115,USDCAD,sell,0.10,1.33184,1.33282,1.33082,2022.09.19 16:51:14,1.33082,0,0,7.66,439.0,10.2,2.020000e+01,12.79
4,2022.09.19 16:49:53,78307555,EURGBP,buy,1.00,0.87708,0.87618,0.87748,2022.09.19 17:13:26,0.87748,0,0,45.54,1413.0,4.0,2.420000e+01,58.33

In [17]:
f_columnas_pips(mta).head()

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit,Time_change,pips,pips_acm,profit_acm
0,2022.09.23 16:32:46,59857446,GBPUSD,buy,1.0,1.10513,1.090,1.13000,2022.09.23 17:50:29,1.08997,0,0.0,-1516.00,4663.0,-151.6,-151.6,-1516.00
1,2022.09.23 16:41:46,59858832,EURGBP,sell,1.0,0.88339,0.884,0.88333,2022.09.23 16:45:00,0.88427,0,0.0,-97.01,194.0,-8.8,-160.4,-1613.01
2,2022.09.23 16:44:57,59859571,AUDUSD,buy,1.0,0.65791,NaN,0.65900,2022.09.23 22:04:35,0.65210,0,0.0,-581.00,19178.0,-58.1,-218.5,-2194.01
3,2022.09.23 19:58:20,59889048,EURGBP,sell,1.0,0.89096,NaN,0.89060,2022.09.23 19:59:57,0.89094,0,0.0,2.18,97.0,0.2,-218.3,-2191.83
4,2022.09.23 20:00:45,59889299,GBPUSD,buy,1.0,1.08969,NaN,NaN,2022.09.23 20:01:06,1.08985,0,0.0,16.00,21.0,1.6,-216.7,-2175.83

In [18]:
def f_estadisticas_ba(data,datapip,df):
    df_1=pd.DataFrame({'medida':['Ops totales','Ganadoras','Ganadoras_c','Ganadoras_v','Perdedoras','Perdedoras_c',
                             'Perdedoras_v','Mediana (profit)','Mediana (pips)','r_efectividad','r_proporcion',
                             'r_efectividad_c', 'r_efectividad_v'],
                   'valor':np.zeros(13),
                  'descripcion':['Operaciones totales','Operaciones ganadoras','Operaciones ganadoras de compra',
                                'Operaciones ganadoras de venta','Operaciones perdedoras','Operaciones perdedoras de compra',
                                'Operaciones perdedoras de venta','Mediana de profit de operaciones',
                                 'Mediana de pips de operaciones','Ganadoras totales/ Operaciones totales',
                                'Ganadoras totales/ Perdedoras totales','Ganadoras compras/ Operaciones totales',
                                 'Ganadoras ventas/ Operaciones totales']})
    df_1.iloc[0,1]=len(data)
    df_1.iloc[1,1]=len(data[data['Profit']>0])
    df_1.iloc[2,1]=len(data[(data['Profit']>0) & (data['Type']=='buy')])
    df_1.iloc[3,1]=len(data[(data['Profit']>0) & (data['Type']=='sell')])
    df_1.iloc[4,1]=len(data[data['Profit']<0])
    df_1.iloc[5,1]=len(data[(data['Profit']<0) & (data['Type']=='buy')])
    df_1.iloc[6,1]=len(data[(data['Profit']<0) & (data['Type']=='sell')])
    df_1.iloc[7,1]=data['Profit'].median()
    df_1.iloc[8,1]=datapip['pips'].median()
    df_1.iloc[9,1]=df_1.iloc[1,1]/df_1.iloc[0,1]
    df_1.iloc[10,1]=df_1.iloc[1,1]/df_1.iloc[5,1]
    df_1.iloc[11,1]=df_1.iloc[3,1]/df_1.iloc[1,1]
    df_1.iloc[10,1]=df_1.iloc[4,1]/df_1.iloc[1,1]
    df_1['valor']=round(df_1['valor'],2)
    
    uniques=data['Symbol'].unique()
    rank=[]
    for i in uniques:
        rank.append(round(len(data[(data['Profit']>0) & (data['Symbol']==i)])/len(data[data['Symbol']==i])*100,2))
    df_2_ranking=pd.DataFrame({'Symbol':uniques,'rank %':rank})
    
    diccionario={'tabla':df_1,'ranking':df_2_ranking}
    return diccionario[df]

In [19]:
f_estadisticas_ba(mtf,f_columnas_pips(mtf),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   23.0              Operaciones totales
1    Ganadoras   10.0            Operaciones ganadoras
2  Ganadoras_c    7.0  Operaciones ganadoras de compra
3  Ganadoras_v    3.0   Operaciones ganadoras de venta
4   Perdedoras   13.0           Operaciones perdedoras

In [20]:
f_estadisticas_ba(mtf,f_columnas_pips(mtf),'ranking').head()

   Symbol  rank %
0  USDCAD   50.00
1  EURUSD   66.67
2  EURGBP    0.00
3  GBPUSD   16.67
4  USDJPY  100.00

In [21]:
f_estadisticas_ba(mtm,f_columnas_pips(mtm),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   22.0              Operaciones totales
1    Ganadoras   11.0            Operaciones ganadoras
2  Ganadoras_c    9.0  Operaciones ganadoras de compra
3  Ganadoras_v    2.0   Operaciones ganadoras de venta
4   Perdedoras   11.0           Operaciones perdedoras

In [22]:
f_estadisticas_ba(mtm,f_columnas_pips(mtm),'ranking').head()

   Symbol  rank %
0  USDJPY    50.0
1  USDCHF    80.0
2  USDCNH     0.0
3  USDMXN     0.0
4  USDNOK    50.0

In [23]:
f_estadisticas_ba(mtp,f_columnas_pips(mtp),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   74.0              Operaciones totales
1    Ganadoras   41.0            Operaciones ganadoras
2  Ganadoras_c   29.0  Operaciones ganadoras de compra
3  Ganadoras_v   12.0   Operaciones ganadoras de venta
4   Perdedoras   33.0           Operaciones perdedoras

In [24]:
f_estadisticas_ba(mtp,f_columnas_pips(mtp),'ranking').head()

   Symbol  rank %
0  EURUSD   54.17
1  USDJPY   83.33
2  GBPUSD   57.14
3  USDCAD   60.00
4  EURGBP   41.67

In [25]:
f_estadisticas_ba(mta,f_columnas_pips(mta),'tabla').head()

        medida  valor                      descripcion
0  Ops totales   47.0              Operaciones totales
1    Ganadoras   27.0            Operaciones ganadoras
2  Ganadoras_c   10.0  Operaciones ganadoras de compra
3  Ganadoras_v   17.0   Operaciones ganadoras de venta
4   Perdedoras   20.0           Operaciones perdedoras

In [26]:
f_estadisticas_ba(mta,f_columnas_pips(mta),'ranking').head()

   Symbol  rank %
0  GBPUSD   62.50
1  EURGBP   80.00
2  AUDUSD   42.86
3  EURUSD   50.00
4  GBPJPY  100.00

# Métricas de Atribución al Desempeño

In [27]:
k=100000
def f_evolucion_capital(data):
    prof = data[["Time","Profit"]]
    prof['timestamp'] = pd.to_datetime(data["Time"])
    prof.set_index('timestamp',inplace=True)
    prof = prof.resample("D").sum()
    prof['profit_acm_d'] = 100000 + prof['Profit'].astype(float).cumsum()
    prof=prof.reset_index()
    prof=prof[(prof['timestamp']!='2022-09-24')&(prof['timestamp']!='2022-09-25')]
    return prof

In [28]:
f_evolucion_capital(mtf)

   timestamp    Profit  profit_acm_d
0 2022-09-20  -2837.72      97162.28
1 2022-09-21      0.00      97162.28
2 2022-09-22     52.66      97214.94
3 2022-09-23 -91492.43       5722.51
6 2022-09-26   -247.75       5474.76

In [29]:
f_evolucion_capital(mtm)

   timestamp   Profit  profit_acm_d
0 2022-09-16   374.51     100374.51
1 2022-09-17     0.00     100374.51
2 2022-09-18     0.00     100374.51
3 2022-09-19 -3445.76      96928.75
4 2022-09-20     0.00      96928.75
5 2022-09-21  6315.37     103244.12
6 2022-09-22    40.46     103284.58

In [30]:
f_evolucion_capital(mtp)

   timestamp   Profit  profit_acm_d
0 2022-09-19  -161.18      99838.82
1 2022-09-20  -672.05      99166.77
2 2022-09-21 -7981.96      91184.81
3 2022-09-22  -224.13      90960.68
4 2022-09-23  1320.12      92280.80
7 2022-09-26 -5549.02      86731.78

In [31]:
f_evolucion_capital(mta)

   timestamp   Profit  profit_acm_d
0 2022-09-23 -1697.71      98302.29
3 2022-09-26   -47.64      98254.65

In [32]:
def get_adj_closes(tickers, start_date=None, end_date=None):
    # Fecha inicio por defecto (start_date='2010-01-01') y fecha fin por defecto (end_date=today)
    # Descargamos DataFrame con todos los datos
    closes = yf.download(tickers, start_date, end_date)
    # Solo necesitamos los precios ajustados en el cierre
    closes = closes['Adj Close']
    # Se ordenan los índices de manera ascendente
    closes.sort_index(inplace=True)
    return closes

In [34]:
end=pd.to_datetime(mtf.iloc[-1,0])+timedelta(days=1)
benchmark_f=get_adj_closes(tickers='SPY',start_date=pd.to_datetime(mtf.iloc[0,0]).strftime('%Y-%m-%d'),end_date=end.strftime('%Y-%m-%d'))
benchmark_f

[*********************100%***********************]  1 of 1 completed

Date
2022-09-20    384.089996
2022-09-21    377.390015
2022-09-22    374.220001
2022-09-23    367.950012
2022-09-26    364.309998
Name: Adj Close, dtype: float64

In [35]:
end=pd.to_datetime(mtm.iloc[-1,0])+timedelta(days=1)
benchmark_m=get_adj_closes(tickers='SPY',start_date=pd.to_datetime(mtm.iloc[0,0]).strftime('%Y-%m-%d'),end_date=end.strftime('%Y-%m-%d'))
benchmark_m

[*********************100%***********************]  1 of 1 completed

Date
2022-09-16    385.559998
2022-09-19    388.549988
2022-09-20    384.089996
2022-09-21    377.390015
2022-09-22    374.220001
Name: Adj Close, dtype: float64

In [36]:
end=pd.to_datetime(mtp.iloc[-1,0])+timedelta(days=1)
benchmark_p=get_adj_closes(tickers='SPY',start_date=pd.to_datetime(mtp.iloc[0,0]).strftime('%Y-%m-%d'),end_date=end.strftime('%Y-%m-%d'))
benchmark_p

[*********************100%***********************]  1 of 1 completed

Date
2022-09-19    388.549988
2022-09-20    384.089996
2022-09-21    377.390015
2022-09-22    374.220001
2022-09-23    367.950012
2022-09-26    364.309998
Name: Adj Close, dtype: float64

In [37]:
end=pd.to_datetime(mta.iloc[-1,0])+timedelta(days=1)
benchmark_a=get_adj_closes(tickers='SPY',start_date=pd.to_datetime(mta.iloc[0,0]).strftime('%Y-%m-%d'),end_date=end.strftime('%Y-%m-%d'))
benchmark_a

[*********************100%***********************]  1 of 1 completed

Date
2022-09-23    367.950012
2022-09-26    364.309998
Name: Adj Close, dtype: float64

In [38]:
def f_estadisticas_mad(data,benchmark):
        #Sharpe Ratio Original:
        rp = np.mean(np.log(data['profit_acm_d'] / data['profit_acm_d'].shift()).dropna())
        sdp = np.log(data['profit_acm_d'] / data['profit_acm_d'].shift()).dropna().std()
        rf = 0.05/365
        sharp_o = (rp - rf) / sdp
        #Sharpe Ratio Actualizado:
        r_trader = np.log(data['profit_acm_d'] / data['profit_acm_d'].shift()).dropna()
        r_benchmark = np.log(benchmark / benchmark.shift()).dropna()
        rtr = r_trader.tolist()
        rbm = r_benchmark.tolist()
        product = list(map(lambda x,y: x-y ,rtr,rbm))
        sdp2 = st.pstdev(product) 
        sharp_a = (np.mean(r_trader) - np.mean(r_benchmark)) / sdp2
        #DrawDown (Capital):
        draw_down = data['profit_acm_d'].min()
        min_max = data['profit_acm_d'].idxmin()
        fecha_min = data['timestamp'][min_max]
        #DrawUp (Capital):
        draw_up = data['profit_acm_d'].max()
        plus_max = data['profit_acm_d'].idxmax()
        fecha_max = data['timestamp'][plus_max]
        est_mad=pd.DataFrame({'metrica':['sharpe_original','sharpe_actualizado','drawdown_capi','drawdown_capi',
                                         'drawdown_capi','drawup_capi','drawup_capi','drawup_capi'],
                             'valor':[sharp_o, sharp_a, fecha_min, fecha_max ,draw_down, fecha_min, fecha_max ,draw_up],
                             'descripcion':['Sharpe Ratio Fórmula Original','Sharpe Ratio Fórmula Ajustada',
                                            'Fecha inicial del DrawDown de Capital', 'Fecha final del DrawDown de Capital',
                                            'Máxima pérdida flotante registrada', 'Fecha inicial del DrawUp de Capital', 
                                            'Fecha final del DrawUp de Capital','Máxima ganancia flotante registrada']})
        return est_mad#sharp_o, sharp_a, draw_down, fecha_min, draw_up, fecha_max

In [39]:
f_estadisticas_mad(f_evolucion_capital(mtf),benchmark_f)

,metrica,valor,descripcion
0,sharpe_original,-0.510383,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,-0.579393,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi,2022-09-26 00:00:00,Fecha inicial del DrawDown de Capital
3,drawdown_capi,2022-09-22 00:00:00,Fecha final del DrawDown de Capital
4,drawdown_capi,5474.76,Máxima pérdida flotante registrada
5,drawup_capi,2022-09-26 00:00:00,Fecha inicial del DrawUp de Capital
6,drawup_capi,2022-09-22 00:00:00,Fecha final del DrawUp de Capital
7,drawup_capi,97214.94,Máxima ganancia flotante registrada

In [40]:
f_estadisticas_mad(f_evolucion_capital(mtm),benchmark_m)

,metrica,valor,descripcion
0,sharpe_original,0.145306,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,1.035044,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi,2022-09-19 00:00:00,Fecha inicial del DrawDown de Capital
3,drawdown_capi,2022-09-22 00:00:00,Fecha final del DrawDown de Capital
4,drawdown_capi,96928.75,Máxima pérdida flotante registrada
5,drawup_capi,2022-09-19 00:00:00,Fecha inicial del DrawUp de Capital
6,drawup_capi,2022-09-22 00:00:00,Fecha final del DrawUp de Capital
7,drawup_capi,103284.58,Máxima ganancia flotante registrada

In [41]:
f_estadisticas_mad(f_evolucion_capital(mtp),benchmark_p)

,metrica,valor,descripcion
0,sharpe_original,-0.667338,Sharpe Ratio Fórmula Original
1,sharpe_actualizado,-0.408434,Sharpe Ratio Fórmula Ajustada
2,drawdown_capi,2022-09-26 00:00:00,Fecha inicial del DrawDown de Capital
3,drawdown_capi,2022-09-19 00:00:00,Fecha final del DrawDown de Capital
4,drawdown_capi,86731.78,Máxima pérdida flotante registrada
5,drawup_capi,2022-09-26 00:00:00,Fecha inicial del DrawUp de Capital
6,drawup_capi,2022-09-19 00:00:00,Fecha final del DrawUp de Capital
7,drawup_capi,99838.82,Máxima ganancia flotante registrada

In [42]:
f_estadisticas_mad(f_evolucion_capital(mta),benchmark_a)

ZeroDivisionError: float division by zero

# Behavioral Finance

Este sesgo cognitivo propuesto por los autores Kahneman y Tversky, para el caso de trading, aplica como el efecto que se puede observar en el histórico de un trader sobre el hecho que tiende a cortar las ganancias rápido y mantener las pérdidas mucho tiempo, es decir, a materializar las ganancias mas frecuentemente que las pérdidas. Recuerda que en el material de clase que puedes volver a consultar aqui, se menciona que hay 2 aproximaciones para abordar la existencia de este sesgo, 1) Por error de percepcion y 2) Por error de valuación. En este laboratorio utilizaremos la 2da opción para construir esta última parte. Revisa la última sección llamada "Sugerencias para lab​", donde podrás encontrar el pseudo código que te ayudará a entender cómo construir el código.

**f_be_de**: Será la función con la cual se podrá recibir información sobre la presencia del Disposition Effect en el histórico de operaciones. 
param_data: DataFrame con el histórico de operaciones para buscar la presencia o no del sesgo
Como resultado de la creación de esta función, deberías de poderse visualizar un Diccionario como el siguiente: 

'ocurrencias'


'cantidad': Cantida de veces que ocurrió el sesgo, de acuerdo a la definición

'ocurrencia_1':

'timestamp': El timestamp del momento en el que se incurrió el sesgo

'operaciones':

'ganadora':

'instrumento': instrumento de la operación

'volumen': lotes de la operación

'sentido': 'sell' o 'buy'

'profit_ganadora': El valor del capital con el que se cerró la ganadora

'perdedora':

'instrumento': instrumento de la operación

'volumen': lotes de la operación

'sentido': 'sell' o 'buy'

'profit_perdedora': El valor del capital en pérdida flotante que tenia la perdedora

'ratio_cp_profit_acm': profit_perdedora/profit_acm del timestamp del momento en el que ocurrió el sesgo.

'ratio_cg_profit_acm': profit_ganadora/profit_acm del timestamp del momento en el que ocurrió el sesgo.


'ratio_cp_cg': el cálculo de profit_perdedora/profit_ganadora

'ocurrencia_2':

....

'resultados':

'dataframe':

In [54]:
def f_be_de(data):
    year1=int(data['Time'].min()[0:4])
    year2=int(data['Time'].max()[0:4])
    
    month1=int(data['Time'].min()[6])
    month2=int(data['Time'].max()[6])
    
    day1=int(data['Time'].min()[8:10])
    day2=int(data['Time'].max()[8:10])
    # import the 'pandas' module for displaying data obtained in the tabular form
    import pandas as pd
    pd.set_option('display.max_columns', 500) # number of columns to be displayed
    pd.set_option('display.width', 1500)      # max table width to display

    # establish connection to MetaTrader 5 terminal
    if not mt5.initialize():
        print("initialize() failed, error code =",mt5.last_error())
        quit()

    # set time zone to UTC
    timezone = pytz.timezone("Etc/UTC")
    # create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
    utc_from = datetime(year1,month1,day1, tzinfo=timezone)
    utc_to = datetime(year2,month2,day2, hour = 23, tzinfo=timezone)
    # get bars from USDJPY M5 within the interval of 2020.01.10 00:00 - 2020.01.11 13:00 in UTC time zone
    symbols=data['Symbol'].unique()
    rate_df=[]
    for symbol in symbols:
        rates= pd.DataFrame(mt5.copy_rates_range(symbol, mt5.TIMEFRAME_M5, utc_from, utc_to))
        rates['Symbol']=symbol
        rate_df.append(rates)
    rates = pd.concat(rate_df)

    # shut down connection to the MetaTrader 5 terminal
    mt5.shutdown()
    
    # convert time in seconds into the 'datetime' format
    rates['time']=pd.to_datetime(rates['time'], unit='s')

    # display data
    return rates

In [46]:
f_be_de(mtf).to_csv(r"rates_f.csv")

In [59]:
f_be_de(mtm).to_csv(r"rates_m.csv")

In [58]:
f_be_de(mtp).to_csv(r"rates_p.csv")

In [60]:
f_be_de(mta).to_csv(r"rates_a.csv")

In [62]:
rates_f=pd.read_csv('rates_f.csv')
rates_f.head()

   Unnamed: 0                 time     open     high      low    close  tick_volume  spread  real_volume  Symbol
0           0  2022-09-26 00:00:00  1.35991  1.35991  1.35966  1.35988           96     117     28800000  USDCAD
1           1  2022-09-26 00:05:00  1.35988  1.35988  1.35746  1.35746           30     107      9000000  USDCAD
2           2  2022-09-26 00:10:00  1.35746  1.35845  1.35746  1.35771           48     225     14400000  USDCAD
3           3  2022-09-26 00:15:00  1.35771  1.35787  1.35771  1.35771          120     270     36000000  USDCAD
4           4  2022-09-26 00:20:00  1.35771  1.35782  1.35771  1.35781           41     264     12300000  USDCAD

In [63]:
rates_m=pd.read_csv('rates_m.csv')
rates_m.head()

   Unnamed: 0                 time     open     high      low    close  tick_volume  spread  real_volume  Symbol
0           0  2022-09-16 00:00:00  143.477  143.498  143.395  143.455          105      67     31500000  USDJPY
1           1  2022-09-16 00:05:00  143.455  143.460  143.453  143.453         1126      66    337800000  USDJPY
2           2  2022-09-16 00:10:00  143.453  143.458  143.453  143.458          341      51    102300000  USDJPY
3           3  2022-09-16 00:15:00  143.458  143.463  143.457  143.457          265      52     79500000  USDJPY
4           4  2022-09-16 00:20:00  143.457  143.458  143.452  143.452          239      65     71700000  USDJPY

In [64]:
rates_p=pd.read_csv('rates_p.csv')
rates_p.head()

   Unnamed: 0                 time     open     high      low    close  tick_volume  spread  real_volume  Symbol
0           0  2022-09-19 00:00:00  1.00072  1.00085  1.00067  1.00076           83     118     24900000  EURUSD
1           1  2022-09-19 00:05:00  1.00080  1.00157  1.00080  1.00129          300      23     90000000  EURUSD
2           2  2022-09-19 00:10:00  1.00129  1.00131  1.00122  1.00122          349      24    104700000  EURUSD
3           3  2022-09-19 00:15:00  1.00122  1.00127  1.00117  1.00127          321      23     96300000  EURUSD
4           4  2022-09-19 00:20:00  1.00127  1.00127  1.00123  1.00124          401      23    120300000  EURUSD

In [65]:
rates_a=pd.read_csv('rates_a.csv')
rates_a.head()

   Unnamed: 0                 time     open     high      low    close  tick_volume  spread  real_volume  Symbol
0           0  2022-09-23 00:00:00  1.12555  1.12560  1.12542  1.12542           91     148     27300000  GBPUSD
1           1  2022-09-23 00:05:00  1.12542  1.12595  1.12542  1.12595          294      46     88200000  GBPUSD
2           2  2022-09-23 00:10:00  1.12595  1.12595  1.12547  1.12554          841      44    252300000  GBPUSD
3           3  2022-09-23 00:15:00  1.12554  1.12556  1.12554  1.12556         2068      64    620400000  GBPUSD
4           4  2022-09-23 00:20:00  1.12556  1.12556  1.12556  1.12556         2117      59    635100000  GBPUSD